
.cover-image{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1723397940071-a937054b54e7?q=80&w=2035&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  z-index: -1;
  background-size: cover;
}

#pink-color{
  color: rgb(120, 71, 79);
}

#hello{
  margin-top: -15vh;
  font-size: 10vmin;
  color: black;
}

#name-display{
  font-size: 6vmin;
  color: black;
}

#tagline{
  font-size: 3vmin;
  text-align: center;
  color: black;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#site-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fade-to-white {
  position: absolute;
  left: 0;
  bottom: 0vh;
  width: 100%;
  height: 40%; /* Adjust this value to control the fade height */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, #f2f2f2 100%);
  pointer-events: none; /* Ensures the overlay doesn't interfere with interactions */
}

#top-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

#middle-content{
  width: 100vw;
  height: 100%;
  background-color: #f2f2f2;
  margin-top: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question h3{
  text-align: center;
}
.question p{
  text-align: center;
  width: 80%;
  text-wrap: wrap;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* CSS */
.button-56 {
  margin-top: 20vh;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 3vmin;
  height: 10vh;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 10vh;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.project-showoff{
  margin-top: 10vh;
}

.showcase-image{
  width: 30vw;
  height: 40vh;
  border-radius: 5px;
}

#project-holder{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

#project-showoff-title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.project-showoff-tagline{
  text-align: center;
  font-weight: normal;
}

body{
  text-align: center;
}

.showcase{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 2vh;
}

.showcase img{
  transition: all 300ms ease-out;
}

.showcase img:hover{

  transition: all 300ms ease-in;
  transform: scale(1.02);
}

.bold{
  font-weight: bold;
}

.project-description{
  width: 40vw;
  text-wrap: wrap;
}

#bottom-content{
  width: 100vw;
  height: 100%;
  background-color: rgb(143, 143, 169);
  padding-top: 5vh;
  padding-bottom: 15vh;
  color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.development-image{
  width: 50vw;
  height: auto;
}

#bottom-content p{
  font-size: 2vmin;
  width: 80%;
  text-wrap: wrap;
}

.bottom-content-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.padding-top{
  padding-top: 10vh;
}

.link{
  color: black;
}